﻿@using Blog.Data
@model Article
@{
    ViewData["Title"] = "ArticleDetail";
}
<a asp-action="Index">Back</a>
<div class="article-title">
    <h2 align="center"> <strong>@Model.Title </strong> </h2>
</div>


<div class="article-content">
    @Html.Raw(Model.Content)
</div>

<div class="comment">
    <form asp-action="_AddComment" asp-controller="Comment" method="post">
        <div class="give-comment">
            <input type="hidden" name="Id" value="@Model.Id">
            <label>Để lại bình luận</label>
            <input type="text" name="contentComment"/>
            <input type="submit" value="Gửi" />
        </div>
    </form>
    
    <div class="load-comment">
       
          @{ if (Model.Comment != null)
              {
                  foreach (var item in Model.Comment)
                  {
                    <div>@item.CommentDetail</div>
                    <div>@item.CommentUser</div>
                  }
              }

        }
       

    </div>


</div>
<div>
    @{
        if (ViewBag.UserId == Model.UserId)
        {

            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> 
            <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
          
        }
    }
    
    
</div>
