﻿@model Blog.Data.Article
@{
    ViewData["Title"] = "Edit";
}
<script src="~/lib/ckeditor/ckeditor.js"></script>
<script src="~/lib/ckeditor/adapters/jquery.js"></script>


<form asp-action="Edit" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" value="@Model.Title" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="text" value="@Model.Id" asp-for="Id" hidden />
        <label asp-for="Content" class="control-label"></label>
        <textarea asp-for="Content" class="form-control" name="content" id="editor1" rows="10" cols="10">@Html.Raw(Model.Content)</textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Thumbnail">Thumbnail</label>
        <input asp-for="Thumbnail" type="file" name="pic" accept="image/*">
    </div>
    

    <div class="form-group">
        <input type="submit" value="Update" class="btn btn-default" />
    </div>
</form>


<script>
    CKEDITOR.replace('editor1');
</script>

<div>
    <a asp-controller="Article" asp-action="Index">Back to Article</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



