﻿@model ReflectionIT.Mvc.Paging.PagingList<Blog.Data.Article>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging

@*@using Blog.Data
@model IEnumerable<Article>*@
@{
    ViewData["Title"] = "Index";
}

<h2>Article Blog</h2>
<p>
    <a asp-action="Upload">Create New</a>
</p>
@await this.Component.InvokeAsync("Pager", new { pagingList = this.Model })


@foreach (var item in Model)
{
    <div class="clearfix"> </div>
    <div class="tilte-grid">
        <a href="single.html"><img src="~/images/@(item.Id + item.Thumbnail)" alt=" " height="120" style="width:120px!important" /></a>
        <div class="tilte-grid" style="width:80%!important">
            <h3 align="center"><a asp-action="ArticleDetail" asp-route-id="@item.Id"><strong>@item.Title</strong></a></h3>
        </div>
        <div class="john">
            <p>@item.DateCreate.ToShortDateString()</p>
        </div>
        <p class="Sed">
            <span>
                @Html.Raw(item.Content)
            </span>
        </p>
    </div>
    <div class="read">

        Writen by  @item.UserId

    </div>
    <br style="color:red" />
}
<nav aria-label="Suppliers navigation example">
    <vc:pager paging-list="@Model" />
</nav>
