﻿@using Blog.Data.Models
@model ArticleModel
@{
    ViewData["Title"] = "Upload";
}
<script src="~/lib/ckeditor/ckeditor.js"></script>
<script src="~/lib/ckeditor/adapters/jquery.js"></script>

<form asp-action="Upload" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Content" class="control-label"></label>
        <textarea asp-for="Content" class="form-control" name="content" id="editor1" rows="10" cols="10"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Thumbnail</label>
        <input type="file" name="thumb" accept="image/*">

    </div>
    <div class="form-group">
        <input type="submit" value="Upload" class="btn btn-default" />
    </div>
</form>


<script>
    CKEDITOR.replace('editor1', { filebrowserUploadUrl: '@System.IO.Directory.GetCurrentDirectory()' + "/wwwroot" + "/images"  });

</script>

    

<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


