﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Blog</title>

   
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/swipebox.css" rel="stylesheet" />
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="header-info">
                <div class="logo">
                    <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" /> </a>
                </div>
                <div class="logo-right">
                    <span class="menu"><img src="~/images/menu.png" alt=" " /></span>
                    <ul class="nav1">

                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-area="" asp-controller="Article" asp-action="Upload">Upload</a></li>
                        <li><a asp-area="" asp-controller="Article" asp-action="Index">Articles</a></li>
                    </ul>
                     @await Html.PartialAsync("_LoginPartial");
                </div>
                <div class="clearfix"> </div>
               
            </div>
        </div>
    </div>
    <!-- header -->
    <!-- content -->
    <div class="content">
        <div class="container">
            <div class="content-text">


                <div class="title">
                    @RenderBody()
                    
                </div>
                <div class="categories">
                    <div class="categ">
                        <div class="cat">
                            <h3>Categories</h3>
                            <ul>
                                
                            </ul>
                        </div>
                        <div class="recent-com">
                            <h3>Recent Comments</h3>
                            <ul>
                                
                            </ul>
                        </div>
                        <div class="view">
                          
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //content -->
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="footer-grids">
                <div class="footer-grid">
                    <h3>About Us</h3>
                    <p>
                       Team MS
                    </p>
                </div>
                <div class="footer-grid">
                    <h3>Site Page</h3>
                    <ul>
                        <li class="cap1"><a href="index.html">Home</a></li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="articles.html">Gallery</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
                <div class="footer-grid">
                    <h3>Praesent pharetra</h3>
                    <ul>
                        
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <p>Template by<a href="http://w3layouts.com/"> w3layouts</a></p>
        </div>
    </div>
    @RenderSection("Scripts", required: false)
   
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/easing.js"></script>

    <script src="~/js/jquery.mixitup.min.js"></script>
    <script src="~/js/jquery.swipebox.min.js"></script>
    <script src="~/js/move-top.js"></script>


</body>
</html>
